 a {
    text-decoration: none;
 }
 
article {
    flex: 1 1 50%;
    border: 2px solid;
    border-radius: 4px;
    padding: 1rem;
    position: relative;
}

article blockquote {
    margin: 1rem;
    margin-bottom: 2rem;
}

article h2 {
    text-align: capitalize;
    border-bottom: thin solid;
}

li {
    margin: 1rem;
}

 main {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    height: 100vh;
    overflow-y: scroll;
    justify-content: flex-start;
 }

 ul {
    list-style: none;
 }

 .card {
    flex: 1 1 50%;
    border: 2px solid;
    border-radius: 4px;
 }

 .back {
    padding: 0.5rem;
    border-radius: 4px;
    margin-right: 1rem;
    border: groove black;
    background-color: black;
    color: white;
 }

 footer {
   border-top: double 1rem;
 }