 a {
    text-decoration: none;
 }
 /* article section */
article {
    flex: 1 1 50%;
    border: 2px solid;
    border-radius: 4px;
    padding: 1rem;
    position: relative;
}

article blockquote {
    margin: 1rem;
    margin-bottom: 2rem;
}

article h2 {
    text-align: capitalize;
    border-bottom: thin solid;
}

header h2 {
   font-size: 3rem;
}
/* the overflow here ensures the vertical scrollbar is always present regardless of whether the content actually overflows the element on the y axis */
main {
   flex-direction: column;
   padding: 1rem;
   gap: 1rem;
   height: 100vh;
   overflow-y: scroll;
   justify-content: flex-start;
}

li {
    margin: 1rem;
}

 

 ul li {
    list-style: none;
    margin: 1rem;
 }
/* created a card layout for visual appeal and organization */
 .card {
    flex: 1 1 50%;
    border: 2px solid;
    border-radius: 4px;
 }

 .back {
    padding: 0.5rem;
    border-radius: 4px;
    margin-right: 1rem;
    border: groove var(--dark-black);
    background-color: var( --light-black);
    color: var(--light-white);
 }
/* footer section */
  footer {
   border-top: double 1rem;
   margin: 0 10px;
   line-height: 1.5rem;
 } 

 footer p {
   text-align: center;
 }

  