* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

* {
    transition: background-color ease-in .5s;
}

header,
footer {
    padding: 2rem;
}

body {
    min-height: 100%;
    line-height: 1;
    border: 2px solid black;
    margin-left: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}


header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.toggle {
    font-size: 1.45rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main {
    height: 100vh; 
    display: flex;
    border-top: double 1rem;
    /* border-bottom: double 1rem; */
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: stretch;
}

    .dark header, .dark footer {
        background-color: rgb(19, 18, 18) ;
        color: white;
    } 

    .dark main {
        background-color: rgb(19, 18, 18);
        color: rgb(205, 199, 199);
        border-top: solid 1rem white;
    }

    .light header, .light footer {
        background-color: rgb(205, 199, 199);
        color: rgb(51, 50, 50);
    }
