* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-black: rgb(54, 53, 53);
    --dark-black: black;
    --light-white: hsl(0, 0%, 100%);
    --dark-white: rgb(245, 242, 242);
}

html {
    height: 100%;
}

/* creates a smooth change background effect over 0.5 seconds */
* {
    transition: background-color ease-in 0.5s;
}

/* header section */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header,
footer {
    padding: 1.5rem;
}

/* toggle button with a class of toggle */
.toggle {
    font-size: 1.45rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* main container */
body {
    min-height: 110vh;
    line-height: 2;
    border: 1px solid var(--dark-black);
    margin-left: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

main {
    height: 100vh; 
    display: flex;
    border-top: double 1rem;
    margin: 0 10px;
    justify-content: center;
   }
/* dark section classes*/
   .dark main {
    background-color: var(--light-black);
    color: rgb(205, 199, 199);
    border-top: solid 1rem white;
}

    .dark header, .dark footer {
        background-color: var(--dark-black) ;
        color: white;
    } 

    .dark footer a {
        color: white;
    }
 
/* light section classes */
    .light header, .light footer {
        background-color: white;
        color: rgb(51, 50, 50);
    }

    .light footer a {
        color: black;
    }
   
    .light #submit {
        background-color: black;
        color: white;
    }

    /* the sun/moon with an id of globe */
    #globe {
        height: 82%;
    }

    .dark #globe {
        background: linear-gradient(5deg, rgb(59, 57, 59), rgb(109, 92, 92), #eeeae0);
    }

    .light #globe {
        background: linear-gradient(5deg, rgb(47, 47, 75), #ffb100, #f5f2f2); 
    }